.container {
  margin: 0 auto;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 712px;
  }

  @media (min-width: @desktop-width) {
    width: 1120px;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;

  white-space: nowrap;

  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  overflow: hidden;
}

.section-title {
  padding: 0;
  padding-top: 40px;
  padding-bottom: 24px;
  margin: 0;

  font-family: @font;
  font-size: 36px;
  font-weight: 100;
  line-height: 1;
  color: #ffffff;
  text-align: center;
}

.center {
  @media (min-width: @desktop-width) {
    top: 50vh;
    transform: translateY(-50%);
  }
}

.disabled {
  cursor: default;

  .card__border {
    stroke: @color__card--disabled;
    fill: rgba(255, 255, 255, 0.5)
  }

  .card__offer {
    color: @color__text--disabled;
  }

  .weight {
    background-color: darken(@color__card--disabled, 25%);
  }
}

.default {
  cursor: pointer;

  &:hover .card__border {
    stroke: @color__text--default-hover;
  }

  &:hover .weight {
    background-color: @color__text--default-hover;
  }
}

.selected {
  cursor: pointer;

  .card__border {
    stroke: @color__card--selected;
  }

  .card__offer {
    color: @color__text--selected;
  }

  .weight {
    background-color: @color__card--selected;
  }

  &:hover .card__slogan {
    color: @color__card--selected-hover;
  }

  &:hover .card__border {
    stroke: @color__card--selected-hover;
  }

  &:hover .weight {
    background-color: @color__card--selected-hover;
  }
}